<p id="notice"><%= notice %></p>

<h1>Profile</h1>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>

        <h2>
          <%= @user.username %>
        </h2>

        <p>
          <%= @user.email %>
        </p>

      </tr>
  </tbody>
</table>

<br>


<%= link_to 'Back', root_path %>
